.theme-toggle[data-v-58f38e25] {
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.theme-toggle[data-v-58f38e25]:hover {
    transform: scale(1.05);
}
.theme-toggle:hover .sun-moon[data-v-58f38e25] {
    transform: translateY(-50%) rotate(15deg);
}
.dark-mode:hover .sun-moon[data-v-58f38e25] {
    transform: translateY(-50%) rotate(-15deg);
}
