[data-v-f09fd4d1]:root {
    --default-glass-bg: linear-gradient(
        135deg,
        rgba(120, 119, 198, 0.1),
        rgba(251, 176, 204, 0.1)
    );
}
.dark[data-v-f09fd4d1] {
    --default-glass-bg: linear-gradient(
        135deg,
        rgba(30, 29, 61, 0.3),
        rgba(55, 29, 71, 0.3)
    );
}
.fade-enter-active[data-v-f09fd4d1],
.fade-leave-active[data-v-f09fd4d1] {
    transition: all 0.3s ease;
}
.fade-enter-from[data-v-f09fd4d1],
.fade-leave-to[data-v-f09fd4d1] {
    opacity: 0;
    transform: translateY(10px);
}
.line-clamp-2[data-v-f09fd4d1] {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.line-clamp-4[data-v-f09fd4d1] {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.block[data-v-f09fd4d1] {
    display: flex;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}
